/* 步骤 */
.step{
    display: flex;
    font-size: 12px;
}
.step>li{
    flex-grow: 1;
}
.step span{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    text-align: center;
    background-color: rgb(153,153,153);
    border-radius: 50%;
    color: #fff;
}
.step .now{
    background-color: rgb(27,172,5);
}

.body{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.color-text{
    color: rgb(250,184,9);
}
.info-list>li{
    padding: 10px 20px;
    background-color: rgb(247,247,247);
}
.info-list>:nth-child(2n){
    background-color: rgb(237,237,237);
}
.info-list>:nth-child(1)>.title{
    font-size: 24px;
    margin-right: 30px;
}

iframe{
    width: 100%;
    border: none;
}

.clause-list>li{
    padding: 10px 20px;
    background-color: rgb(247,247,247);
}
.clause-list>:nth-child(2n){
    background-color: rgb(237,237,237);
}

.declaration-box{
    padding: 0px 20px;
}
h4{
    font-weight: normal;
    margin-bottom: 10px;
}
.declaration-box>p{
    color: rgb(143,144,150);
    text-indent: 2rem;
}

.button{
    margin: 0 20px;
}
.exit{
    background-color: rgb(157,160,157);
    margin-bottom: 20px;
}
